// All Custom Variable Changes
$theme-colors: (
  'primary': #521751,
  'danger': #b80c03
);

// Import Bootstrap After The Changes
@import '../../node_modules/bootstrap/scss/bootstrap';

/*** HOMEPAGE ***/

// Main Navbar
#main-nav {
  .nav-link {
    font-size: 1.2rem;
    &.active {
      color: darken($primary, 50deg);
    }
  }
}

// Users Grid
.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

// *** MEDIA QUERIES ***//
@media (max-width: 576px) {
  .users-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 577px) {
  .users-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .users-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
